.login {
  background-image: url("../../../assets/login.jpg");
  background-size: cover;
  background-position: center center;
}
.outerColor {
  outline-color: #3182ce;
}
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}
